@model html5up_dopetrope_mvc.Models.TB_Room

@{
    ViewBag.Title = "房型資料-刪除";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-wrapper">
    <div class="container">

        <h3>您確定要刪除嗎？</h3>
        <div>
            <h4>@ViewBag.Title</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SquareFootage)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SquareFootage)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MaxCapacity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MaxCapacity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Facility)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Facility)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Features)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Features)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDelete)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDelete)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgUrl1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImgUrl1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgUrl2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImgUrl2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgUrl3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImgUrl3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgUrl4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImgUrl4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ImgUrl5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImgUrl5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ExtraBed)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ExtraBed)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="送出" class="btn btn-success" />
                    <div class="btn btn-danger">
                        @Html.ActionLink("回上一頁", "Index")
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Style
{
    <link href="~/Content/bootstrap.spacelab.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script>
    </script>
}